p {
  margin: 0px;
}
.App {
  text-align: center;
  background: #f1f1f1;
  min-height: 100vh;
}

.new-search {
  position: absolute;
  right: 2rem;
  top: 4.5rem;
  color: white;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  justify-content: center;
}

/******************************************
              For Input
*******************************************/

.bordered-input {
  width: 12%;
  min-width: 120px;
  margin: 2rem 0rem 2rem 2rem;
}

.bordered-input:hover {
  box-shadow: 0 0 10px #aaa;
}

@media (max-width: 941px) {
  .bordered-input {
    box-shadow: 0 0 10px #aaa;
  }
}

/******************************************
            For Header Component
*******************************************/

.header {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}

.header h1 {
  color: white;
  font-size: 50px;
}

/******************************************
              For Book Cards
*******************************************/

/* centers cards on page */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.book {
  display: inline-block;
  width: 230px;
  height: 390px;
  box-shadow: 0 0 10px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  background: white;
}

.cover {
  border: 1px solid gray;
  height: 70%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.description {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 1rem;
}

.author {
  font-size: .8rem;
  font-style: italic;
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}